<a href = "/"><h1>Marks Majik Musical Menagerie</h1></a>
<h2>Albums</h2>

<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th>Quantity</th>
    <th></th>
    <th>Genre</th>
    <th></th>
    <th>Buy Price</th>
    <th></th>
    <th>Sell Price</th>
    <th></th>
    <th>Mark Up</th>
    <th></th>
    <th>Stock Level</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% for album in @albums do %>
  <tr>
    <td><%= album.title %></td>
    <td>|</td>
    <td><%= album.quantity %></td>
    <td>|</td>
    <td><%= album.genre %></td>
    <td>|</td>
    <td>£<%= album.buy_price %></td>
    <td>|</td>
    <td>£<%= album.sell_price %></td>
    <td>|</td>
    <td>£<%= album.mark_up %></td>
    <td>|</td>
    <td><%= album.stock_level %></td>
    <td>|</td>
    <td><p>
      <form action="/albums/<%= album.id %>/sell" method="POST">
        <input class="btn btn--update" type="submit" value="sell" />
      </form>
    </p>
    </td>
    <td>|</td>
    <td><p>
      <form action="/albums/<%= album.id %>/delete" method="POST">
        <input class="btn btn--delete" type="submit" value="delete" />
      </form>
    </p>
    </td>
  </tr>
  <% end %>
</table>
<p class="btn--wrapper">
  <a class="btn btn--new" href="/albums/new">New Album</a> <a class="btn btn--new" href="/albums/order">Order Albums</a>
</p>